*{
    margin: 0;padding: 0;box-sizing: border-box;
}
body{
    background-color: rgb(24, 135, 168);
}
#secao_principal{
    display: block;
    margin: 0px 25px;
    outline: 4px solid yellow;
    padding: 5px;
    background-color: yellow;
    width: 80%;
    margin: 0 auto;
}

/*design da parte onde tem as figuras dos sintomas*/
#container_sintoma{
    background-color: rgb(212, 109, 109);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 25px 0;
    padding: 25px 0;
}

.sintomas{
 outline: olive 1px solid;
 width: 45%;
 display: flex;
 justify-content: space-around;
 flex-wrap: wrap;
 align-content: center;
}
.img_sintoma{
    border-radius: 40%;
    border:none;
    background-color: rgb(0, 0, 0);
}
.img_sintoma1{
    border-radius: 40%;
    border:none;
    background-color: rgb(255, 255, 255);
}
.container_recomendacao{
 outline: orangered 2px solid;
 width: 55%;
 padding: 25px;
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;

}
.recomendacoes{
    outline: rgb(243, 242, 241) 2px solid;
    width: 60%;
    text-indent: 15px;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.medico_instrucao{
    outline: rgb(243, 122, 0) 2px solid;
    width: 40%;
    display: flex;
    justify-content: flex-end;
}


/* FIM design da parte onde tem as figuras dos sintomas*/


#painel{
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: violet;
 
    min-height: 500px;
}
#estatistica{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
     margin: 25px 0;
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(25%-25px);
    height: 200px;
    padding: 10px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 15px;
  
    text-align: center;
}


#estatistica_regiao{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 15px;
    border: none;
    outline: rgb(163, 18, 18) 3px solid;
}
.header_estatistica_regiao{
   background: chartreuse;
}

#mapa_regiao{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    position: relative;
    background-color: cornflowerblue;
}
.mapa{
    outline: 5px solid red;
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: cornsilk;
}

.container_regioes{
    outline: 2px solid green;
    width: 60%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(248, 215, 82);

}
.header_regioes{
    background-color: rgb(13, 155, 136);
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.column{
    text-align: center;
}
.column1{
    width: 100px;
    outline: 1px solid floralwhite;
}
.column2{
    width: 100px;
    outline: forestgreen 1px solid ;
}
.column3{
    width: 150px;
}
.regioes{
    display: flex;
    flex-direction: column;
    background-color: crimson;
    justify-content: flex-start;
    height: 80%;
}
.regiao{
    background-color: wheat;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}
.nome_regiao{
    display: flex;
    justify-self: flex-start;
    position: relative;
    outline: fuchsia 1px solid;
}

.casos_regiao{
    display: flex;
    justify-content: flex-end;
}
.regiao:not(:last-child){
    border-bottom: .8px solid rgb(62, 27, 218);
}
.regioes .regiao:not(:first-child) .nome_regiao{
    margin-left: 25px;
}




/*aqui ficara a parte da secao de perguntas dos usuarios para os medicos*/

#secao_perguntas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: plum;
    margin: 25px 0;

}
.medicos{
    display: flex;
}
.pergunta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: powderblue;
}